{% extends 'base.html.twig' %}

{% block body %}
    <h1>Downloadfile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ downloadFile.id }}</td>
            </tr>
            <tr>
                <th>Datadodania</th>
                <td>{% if downloadFile.dataDodania %}{{ downloadFile.dataDodania|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ipuser</th>
                <td>{{ downloadFile.ipUser }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('downloadfile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('downloadfile_edit', { 'id': downloadFile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
