{% extends 'base.html.twig' %}

{% block body %}
    <h1>File_addds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateadd</th>
                <th>Coursenr</th>
                <th>Usernr</th>
                <th>Filenr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file_addd in file_addds %}
            <tr>
                <td><a href="{{ path('file_addd_show', { 'id': file_addd.id }) }}">{{ file_addd.id }}</a></td>
                <td>{% if file_addd.dateAdd %}{{ file_addd.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ file_addd.courseNr }}</td>
                <td>{{ file_addd.userNr }}</td>
                <td>{{ file_addd.fileNr }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('file_addd_show', { 'id': file_addd.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('file_addd_edit', { 'id': file_addd.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_addd_new') }}">Create a new file_addd</a>
        </li>
    </ul>
{% endblock %}
