{% extends 'base.html.twig' %}

{% block body %}
    <h1>File_addd</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file_addd.id }}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{% if file_addd.dateAdd %}{{ file_addd.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Coursenr</th>
                <td>{{ file_addd.courseNr }}</td>
            </tr>
            <tr>
                <th>Usernr</th>
                <td>{{ file_addd.userNr }}</td>
            </tr>
            <tr>
                <th>Filenr</th>
                <td>{{ file_addd.fileNr }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_addd_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('file_addd_edit', { 'id': file_addd.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
