{% extends 'base.html.twig' %}

{% block body %}
    <h1>File_downloads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dataadd</th>
                <th>Coursenr</th>
                <th>Filenr</th>
                <th>Usernr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file_download in file_downloads %}
            <tr>
                <td><a href="{{ path('file_download_show', { 'id': file_download.id }) }}">{{ file_download.id }}</a></td>
                <td>{% if file_download.dataAdd %}{{ file_download.dataAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ file_download.courseNr }}</td>
                <td>{{ file_download.fileNr }}</td>
                <td>{{ file_download.userNr }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('file_download_show', { 'id': file_download.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('file_download_edit', { 'id': file_download.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_download_new') }}">Create a new file_download</a>
        </li>
    </ul>
{% endblock %}
