{% extends 'base.html.twig' %}

{% block body %}
    <h1>File_download</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file_download.id }}</td>
            </tr>
            <tr>
                <th>Dataadd</th>
                <td>{% if file_download.dataAdd %}{{ file_download.dataAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Coursenr</th>
                <td>{{ file_download.courseNr }}</td>
            </tr>
            <tr>
                <th>Filenr</th>
                <td>{{ file_download.fileNr }}</td>
            </tr>
            <tr>
                <th>Usernr</th>
                <td>{{ file_download.userNr }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_download_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('file_download_edit', { 'id': file_download.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
