{% extends 'base.html.twig' %}

{% block header %}
    <li><a href="{{ path('_main') }}">Main</a></li>
    <li><a href="{{ path('course_index') }}">Kursy</a></li>
    <li><a href="{{ path('user_index') }}">Użytkownicy</a></li>
    <li class="active"><a href="{{ path('lecture_index') }}">Wykłady</a></li>
    <li><a href="{{ path('downloadfile_index') }}">Logi</a></li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <h1>Edytuj wykład</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-success" value="Edytuj" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Usuń">
    {{ form_end(delete_form) }}


    <hr>
    <a class="btn btn-primary btn-lg" href="{{ path('lecture_index') }}" role="button">Wróć do listy wykładów</a>

</div>
{% endblock %}
